<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello</h1>
    <h1>about learning spring boot</h1>
    <h2>Name of the owner is </h2>
    <h1 th:text="${name}"></h1>
    <h2 th:text="${date}"></h2>
    <h3>name of owner is <span th:text="${name}"/h3>
    <!-- how to used varrious concept by using thymeleaf there it is some cool example
     <!-- <h1 th:text="${ #String.toUpperCase(date)}"></h1> -->
    <!-- <p>the length of the String is <span th:text="${String.length}"/p> -->
    <h1>hello</h1> 


</body>
</html>